<div class="login">
    <!-- <form> -->
        <h3>Login</h3>
        <div class="col">
            <label for="email">E-mail:</label>
            <input [(ngModel)]="user.email" type="email" class="validate" placeholder="E-mail" name="email" id="email">
        </div>
        <div class="col">
            <label for="pwd">Senha:</label>
            <input [(ngModel)]="user.password" type="password" class="validate" placeholder="Senha" name="pwd" id="password">
        </div>
        <button type="submit" class="btn btn-info btn-lg btn-block" (click)="toDoLogin()">Entrar</button>
        <div class="not-count">
            <p>Ainda não tem acesso? Crie sua conta <a routerLink="/cadastro">clicando aqui!</a></p>
        </div>
    <!-- </form> -->
</div>