<h1>REQUISITOS PARA DOAR</h1><br>
<img src="./../../../assets/img/earth-g2985831a1_1920.jpg"
    alt="Imagem de uma pessoa doando sangue e segurando uma pequena bola com o desenho da terra">

<p>Uma única bolsa de sangue pode salvar a vida de até três pessoas.</p>

<p>Para manter o estoque adequado do banco de sangue, são necessárias muitas doações. O ideal é que cada pessoa doe
    sangue pelo menos duas vezes ao ano. Homens podem doar sangue a cada 60 dias e no período de 12 meses até 04 doações
    e mulheres em um intervalo de 90 dias e no período de 12 meses até 3 doações.</p>

<p>Podem doar sangue pessoas entre 16 e 69 anos e que estejam pesando mais de 50kg. Além disso, é preciso apresentar
    documento oficial com foto e menores de 18 anos só podem doar com consentimento formal dos responsáveis.</p>

<p>O procedimento para doação de sangue é simples, rápido e totalmente seguro. Não há riscos para o doador, porque
    nenhum material usado na coleta do sangue é reutilizado, o que elimina qualquer possibilidade de contaminação.
</p><br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/siH2D6jrG3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>

<p>Os requisitos para doar sangue é estar com bom estado de saúde e seguir os seguintes passos:</p><br>

<ul>
    <li>Estar alimentado. Evite alimentos gordurosos nas 3 horas que antecedem a doação de sangue.</li>
    <li>Caso seja após o almoço, aguardar 2 horas.</li>
    <li>Ter dormido pelo menos 6 horas nas últimas 24 horas.</li>
    <li>Estar em boas condições de saúde</li>
    <li>Ter entre 16 e 69 anos completos (menores de idade com autorização e presença do responsável legal)
        <ul>
            <li>
                <p><strong>Observação:</strong> Durante a vigência da pandemia, doadores acima de 59 anos completos
                    deverão, preferencialmente, permanecer em suas residências.</p>
            </li>
            <li>Pessoas com idade entre 60 e 69 anos só poderão doar sangue se já o tiverem feito antes dos 60 anos.
            </li>
            <li>A frequência máxima é de quatro doações de sangue anuais para o homem e de três doações de sangue anuais
                para as mulher.</li>
            <li>O intervalo mínimo entre uma doação de sangue e outra é de dois meses para os homens e de três meses
                para as mulheres.</li>
            <li>Apresentar documento oficial com foto ( Carteira de Identidade, Carteira do Conselho Profissional,
                Carteira de Trabalho, Passaporte ou Carteira Nacional de Habilitação)</li>
            <li></li>
        </ul>

        <p></p>


        <h3>Para doação de PLASMA CONVALESCENTE/HIPERIMUNE</h3><br>

        <ul>
            <li>Homens ou mulheres de 18 a 59 anos completos</li>
            <li>Trazer impresso o resultado positivo para COVID-19</li>
            <li>Não ter sido submetido a ventilação mecânica/respirador</li>
            <li>Nunca ter recebido transfusão de sangue</li>
            <li>Ausência de gestações/abortos</li>
            <li>45 a 90 dias pós diagnostico para: 45 a 180 dias pós diagnóstico</li>
            <li>Se enquadrar nos critérios básicos de doação de sangue total</li>
        </ul>




            <h4>Passo a passo da doação</h4><br>

            <p><a class="btn btn-dark"><span class="text">1</span></a>Todo possível doador é cadastrado no sistema do
                Hemepar e recebe um questionário para responder.</p>

            <p><a class="btn btn-dark"><span class="text">2</span></a>O procedimento seguinte é a Triagem Clínica, onde
                será avaliado se o doador preenche os requisitos para a doação de sangue. A próxima etapa é a Triagem
                Hematológica, um rápido exame, com apenas uma gota de sangue, que verifica se o candidato à doação não
                tem
                anemia.</p>

            <p><a class="btn btn-dark"><span class="text">3</span></a>A etapa seguinte é a doação propriamente dita, com
                a coleta de aproximadamente 450 ml de sangue.</p>

            <p><a class="btn btn-dark"><span class="text">4</span></a>Após a coleta o doador é encaminhado para a sala
                de
                lanche. Após a doação, deve se aguardar pelo menos 15 minutos para sair das dependências do Hemepar.</p>

            <p>Todo o procedimento é realizado com higiene, rapidez e segurança e dura aproximadamente 40 minutos.</p>

            <p></p>

            <p><strong>Exames realizados</strong></p><br>

            <ul>
                <li>Identificação do tipo sanguíneo (ABO) e Fator RH</li>
                <li>Sífilis</li>
                <li>Doença de Chagas</li>
                <li>Hepatite B e C</li>
                <li>HTLV I e II</li>
                <li>AIDS</li>
                <li>Hemoglobina S</li>
            </ul>

            <p>Em aproximadamente 15 dias, se não houver nenhuma intercorrência, o doador receberá sua <strong>Carteira
                    de
                    Doador </strong>com os resultados dos exames.</p>

            <p>Em caso de alguma intercorrência, o doador será convocado pelo Hemocentro para refazer os exames, por
                isso é
                importante que o endereço do doador esteja completo e atualizado. Para ter direito ao Certificado de
                Doador
                Fidelizado é necessário que o doador tenha feito três doações no período de 12 meses.</p>

            <p><a class="btn btn-dark 0"
                    href="http://www.saude.pr.gov.br/sites/default/arquivos_restritos/files/documento/2020-04/como_posso_ser_um_doador_de_sangue.pdf"
                    target="_blank" rel="nofollow"><span class="text">Versão em PDF</span><span class="0"><span
                            class="element-invisible"> </span></span></a></p>

