<div class="textDefinitive">
    <h1>Impedimentos definitivos</h1><br>
    <p>Veja abaixo, quais são os impedimentos que tornam um doador inapto para a doação:</p><br>
    <ul>
        <li>Hepatite viral após os 11 anos de idade.</li>
        <li>Diabetes insulinodependente.</li>
        <li>Epilepsia ou convulsão.</li>
        <li>Hanseníase.</li>
        <li>Doença renal crônica.</li>
        <li>Antecedentes de Neoplasias (Câncer).</li>
        <li>Antecedentes de acidente vascular cerebral (Derrame).</li>
        <li>Evidência Clínica ou Laboratorial das seguintes doenças transmissíveis pelo sangue: Hepatites B e C, AIDS (Vírus HIV).</li>
        <li>Doenças associadas ao HTLV I/II e Doença de Chagas.</li>
        <li>Cirurgia Bariátrica.</li>
        <li>Uso de drogas ilícitas injetáveis.</li>
        <li>Malária.</li>
        <li>Mal de Parkinson.</li>
    </ul><br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/5NlFrG3ZPJY" title="Quem não pode doar" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


