<div class="title">
  <h1>Registre-se</h1>
</div>
<div class="form-events">
  <form name="userRegister" [formGroup]="form" class="needs-validation" novalidate>
    <div class="form-group" style="width: 100%;">
      <label for="name">Informe como gostaria de ser chamado:</label>
      <input type="text" class="form-control" id="name" name="name" formControlName="name"
        [ngClass]="{ 'is-invalid': submitted && hasError('name')}">
    </div>
    <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['required']">
      Por favor informe como gostaria de ser chamado
    </div>
    <div class="form-group">
      <label for="rg">RG:</label>
      <input type="text" class="form-control" id="rg" name="rg" formControlName="rg"
        [ngClass]="{ 'is-invalid': submitted && hasError('rg')}">
    </div>
    <div class="invalid-feedback" *ngIf="hasError('rg') && hasError('rg')['required']">
      Para criar o seu cadastro único utilizamos o RG como forma de validação de um único cadastro, por isso informe o
      RG.
    </div>    
    <div class="form-group">
      <label for="birthday">Data de Nascimento:</label>
      <input type="date" id="birthday" name="birthday" formControlName="birthday"
      [ngClass]="{ 'is-invalid': submitted && hasError('birthday')}">
    </div>
    <div class="form-group">
      <label for="sex">Sexo Biológico:</label>
      <select name="sex" class="form-control" formControlName="sex"
        [ngClass]="{ 'is-invalid': submitted && hasError('sex')}">
        <option selected>Clique e selecione o seu sexo biológico</option>
        <option value="feminino">Feminino</option>
        <option value="masculino">Masculino</option>
      </select>
    </div>
    <div class="invalid-feedback" *ngIf="hasError('sex') && hasError('sex')['required']">
      Alguns quesitos sobre a doação de sangue levam em conta o sexo biológico, por isso precisamos que você o preencha
      para que tenha uma melhor experiência na Doe+.
    </div>
    <label for="gender">Genêro:</label>
    <select name="gender" class="form-control" formControlName="gender"
    [ngClass]="{ 'is-invalid': submitted && hasError('gender')}">
      <option selected>Clique e selecione o gênero que você se identifica</option>
      <option value="ciswoman">Mulher Cisgênero</option>
      <option value="cisman">Homem Cisgênero</option>
      <option value="transwoman">Mulher Transgênero</option>
      <option value="transman">Homem Transgênero</option>
      <option value="fluidgender">Gênero Fluído</option>
      <option value="agender">Agênero</option>
      <option value="nonbinary">Não-binário</option>
      <option value="other">Outros</option>
      <option value="nottoinform">Prefiro não informar</option>
    </select>
    <label for="typeblood">Tipo Sanguineo:</label>
    <select name="typeblood" class="form-control" formControlName="typeblood"
    [ngClass]="{ 'is-invalid': submitted && hasError('typeblood')}">
      <option selected>Clique e selecione o seu tipo sanguineo</option>
      <option value="apositive">A+</option>
      <option value="anegative">A-</option>
      <option value="bpositive">B+</option>
      <option value="bnegative">B-</option>
      <option value="abpositive">AB+</option>
      <option value="abnegative">AB-</option>
      <option value="opositive">O+</option>
      <option value="onegative">O-</option>
      <option value="nottoinform">Não sei informar</option>
    </select>

    <div class="form-group">
      <label for="phone">Celular:</label>
      <input type="tel" id="phone" name="phone" pattern="[0-9]{3}[0-9]{5}[0-9]{4}" formControlName="phone"
      [ngClass]="{ 'is-invalid': submitted && hasError('phone')}">
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" class="form-control" id="email" name="email" formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && hasError('email')}">
    </div>
    <div class="invalid-feedback" *ngIf="hasError('email') && hasError('email')['required']">
      Por favor informe o seu e-mail.
    </div>
    <div class="form-group">
      <label for="password">Senha:</label>
      <input type="password" class="form-control" id="password" name="password" formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && hasError('password')}">
    </div>
    <div class="invalid-feedback" *ngIf="hasError('password') && hasError('password')['required']">
      Por favor informe sua senha
    </div>
    <div class="invalid-feedback" *ngIf="hasError('password') && hasError('password')['minlength']">
      Sua senha precisa ter no mínimo {{ hasError('password')['minlength'].requiredLength }} caracteres.
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="acceptNotifications" formControlName="acceptNotifications"
        [ngClass]="{ 'is-invalid': submitted && hasError('acceptNotifications')}"> Eu aceito receber alertas dos hemocentros.
      </label>
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="acceptTerms" formControlName="acceptTerms"
        [ngClass]="{ 'is-invalid': submitted && hasError('acceptTerms')}"> Eu aceito os termos de uso da plataforma.
      </label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Enviar dados</button>
  </form>
</div>