<div class="textTemporary">

    <h1>Impedimentos temporários à doação</h1><br>
    <p>Veja abaixo, quais são os impedimentos que tornam um doador temporariamente inapto para a doação:</p><br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZLsoYVyF8SI" title="Doe Sangue" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <ul>
        <li>Manifestações gripais (tosse, febre, dor de garganta): aguardar 15 dias após a cura</li>
        <li>Diarreia: aguardar 7 dias após a cura</li>
        <li>Durante a gravidez: 90 dias após parto normal e 180 dias após cesariana</li>
        <li>Amamentação 12 meses após parto/cesárea (não pode doar enquanto for a única e principal fonte de alimentação
            do bebe)</li>
        <li>Ingestão de bebida alcoólicae uso de maconha nas 12 horas que antecedem a doação</li>
        <li>Tatuagem, micropigmentação e piercing nos últimos 06 meses (se piercing genital e/ou oral 12 meses após a
            retirada)</li>
        <li>Botox, 12 meses</li>
        <li>Tratamento dentário: limpeza e obturações 72 horas; extração e canal 7 dias, implante 3 a 6 meses</li>
        <li>Alergias em atividade: rinite (coriza/espirros) em uso de medicação; urticária</li>
        <li>Hepatite: pode doar se hepatite antes dos 11 anos</li>
        <li>Se convive na casa de quem teve hepatite: Hepatite B comprovar a imunidade pela vacina e Hepatite C
            comprovação da cura da pessoa que teve Hepatite</li>
        <li>Medicações: Antibióticos 15 dias após o término. Em uso de medicação para hipertensão como propanolol,
            atenolol, pindolol, metoprolol, doxasosina (selozok). Mais de 3 medicações para doença crônica, mais de 2
            para tratamento de saúde mental. Outros tratamentos também podem ter medicações que impeçam a doação</li>
        <li>Diabetes: mediante avaliação do triador. Com uso de insulina não pode doar</li>
        <li>Hipotiroidismo Hashimoto: Se a doença NÃO estiver em sua fase aguda, o candidato a doação poderá doar. Caso
            o candidato não saiba qual tipo de Hipotireoidismo está tratando e ou não estiver em acompanhamento, deverá
            trazer uma carta do endocrinologista liberando o mesmo para as doações ST/Aférese, nestes casos é necessário
            inaptar por 02 dias (para aguardar a carta), anotar toda conduta no sistema informatizado.</li>
        <li>Testosterona ou qualquer outro Anabolizante – Serão 06 meses de inaptidão.</li>
        <li>Rins Policístico: Sem o uso de medicações, poderá doar.</li>
        <li>Fenômeno de Raynaud: Sem medicações específicas para o fenômeno ou doença associada, poderá doar.</li>
        <li>Cateterismo: Se for apenas um exame, após 15 dias poderá doar ST/Aférese. Uso de STENT (Molas), angina de
            peito, angioplastia ou doenças cardíacas de base (triador deverá aprofundar suas perguntas), será inapto
            definitivo.</li>
        <li>Contraste: Inapto por 07 dias.</li>
        <li>PREPS (Pré Exposição com quem tem HIV) ou PEPS (Pós Exposição com quem tem HIV) – Se toma antirretroviral
            para ter relações sexuais, são 12 meses de inaptidão, após a suspensão.</li>
        <li>Casos Específicos: Deverão ser inaptos por 02 dias, para discussão no grupo de triadores.</li>
        <li>Cardiopatias: alterações de infância como sopro não impede doação. Cateterismo, infarto, cirurgias cardíacas
            impedem a doação</li>
        <li>Pressão alta: Acima de 180x100mmHg</li>
        <li>Cirurgias: 6 meses a 1 ano</li>
        <li>Situações nas quais houve maior risco de adquirir doenças sexualmente transmissíveis (aguardar 12 meses);
            Nova parceria sexual: se relacionamento fixo, 6 meses contados a partir da primeira relação sexual com a
            pessoa. Se ocasional 12 meses de inaptidão</li>
        <li>Vacinas: febre amarela, tríplice e dupla viral e dengue 30 dias; Dupla e tríplice bacteriana, H1N1, Hepatite
            B, HPV 48 horas. Antirrábica: se profilática 48h, se por mordida de animal 12 meses</li>
        <li><strong>Vacina COVID-19 -</strong> A vacina contra COVID-19 contraindicada a doações de sangue por um
            período mínimo.
            <ul>
                <li><strong>Vacina Coranovac/Butantan</strong> estabelece um prazo de <strong>48 horas</strong> após o
                    recebimento.</li>
                <li><strong>Vacina AstraZeneca/Oxford/Fiocruz</strong>,<strong>Pfizer/BioNTech</strong>,
                    <strong>Janssen/Johnson &amp; Johnson</strong> pede o intervalo de <strong>7 dias</strong> após o
                    recebimento.</li>
                <li>Imprescindível a apresentações do seu comprovante de vacinação para ser avaliado pelo triador.</li>
            </ul>
        </li>
        <li>Endoscopia, Colonoscopia e Cirurgias Laparoscópicas: 6 meses</li>
        <li>Viagens: Exterior 30 dias. Brasil - Região Norte, Nordeste, Centro-oeste e Sudeste (RJ, SP, ES, MG) 15 dias.
            Área de Malária - Acre, Amazonas, Rondônia, Maranhão, Mato Grosso, Pará, Amapá e Roraima 12 meses.</li>
        <li>Outras situações a serem avaliadas</li>
    </ul>

    <p></p>
</div>