<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Dia Nacional do Doador de Sangue</h2>
      <p></p>
      <p>No dia 25 de novembro, comemora-se o Dia Nacional do Doador de Sangue. A data tem por objetivo agradecer aos
        doadores de sangue pela ação de doar e sensibilizar a população para a importância da doação.</p>
      <a routerLink="/dia-do-doador">Ver conteúdo</a>
    </div>
    <div class="card"> 
      <h2>Doação de sangue: conheça o passo a passo</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HRPoREa6r6s" title="Doação de sangue: conheça o passo a passo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>   
    <div class="card">
      <h2>Requisitos para doar sangue</h2>
      <p></p>
      <p>Uma única bolsa de sangue pode salvar a vida de até três pessoas.</p>
      <p>Para manter o estoque adequado do banco de sangue, são necessárias muitas doações. O ideal é que cada pessoa doe
        sangue pelo menos duas vezes ao ano.</p>
      <a routerLink="/requisitos-basicos">Ver conteúdo</a>
    </div>
    <div class="card">
      <h2>Campanha de doação de Sangue 2021- Ministério da Saúde</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/4GOyNa0g7mc" title="Campanha de doação de Sangue 2021" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Impedimentos temporários</h2>
      <p>Confira aqui quais são os principais impedimentos temporários para realizar a doação de sangue</p>
      <a routerLink="/impedimentos-temporarios">Ver conteúdo</a>
    </div>
    <div class="card">
      <h2>Impedimentos definitivos</h2>
      <p>Confira aqui quais são os principais impedimentos definitivos para realizar a doação de sangue</p>
      <a routerLink="/impedimentos-definitivos">Ver conteúdo</a>
    </div>
  </div>
</div>