body{
    display: flex;
    justify-content: center;
}
.content{
    color: red;
    font-family: Verdana; 
    font-size: 12px;
    text-align: center;
    line-height: 2;
    border: 1pt solid black;
    width: 50%;
}

table{
   width: 600px; 
   font-family: arial;
   font-weight: bold;
   font-size: 12px;
   background-color: #C7E7F3 ;
}

caption{
   background-color: #0D5188;
   color: white;
}

#value{
   font-weight: lighter;
   text-align: center;
   width: 15%;
}

#firstLine{
   background-color: #66C5E3;
   color: black;   
}

#position{
   font-weight: lighter;
   text-align: center;
   background-color: rgb(163, 162, 162);
   width: 10%;
}
#city{
   color: #0D5188;
}




