        /* o root é uma especie de lugar para declarar uma variavel */
        :root {
            --title-color: #322153;
            --primary-color: #34cb79;
        }
/* o asterisco aplica os atributos inseridos em todos os elementos*/
        * {
            margin: 0;
            padding: 0;
            /*todas as caixas terao o preenchimento até o tamanho de suas bordas*/
            box-sizing: border-box;
        }
        
        html {
            font-family: 'Roboto', sans-serif;
        }

        body {
            background: #f0f0f5;
            /*uma especie de suavização da cor*/
            -webkit-font-smoothing: antialiased;
        }     
        a {
            /*Tira o sublinhado do elemento a*/
            text-decoration: none;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Ubuntu', sans-serif;
            color: var(--title-color);

        }

        /* BOX MODEL
        As Box models podem estar umas dentro das outras
        Elas tem largura, preenchimento, comprimento, cor, altura, tamanho, e podem ter nomes como 'div'
        */
        