h1{
    margin-top: 4%;
    margin-bottom: 1%;
    color: #8C030E;
    font-family: 'Times New Roman';
}

img{
    margin-left: 20%;
    margin-bottom: 2%;
    max-width: 50%;
    max-height: 50%;
}

p, ul, li{
    font-family: 'Times New Roman';
    font-size: 22px;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
}
