<div class="container">
<div class="row">
  
  <!-- <div class="col">
    <div class="card" *ngFor="let bloodCenter of bloodCenters$">
      <div class="card-body">
        <h4 class="card-title">{{ bloodCenter.nameCenter }}</h4>
        <p class="card-text"> {{ bloodCenter.address }}</p>
        <p class="card-text">{{ bloodCenter.hourCenter }}</p>
        <p class="card-text">{{ bloodCenter.emailCenter }}</p>
        <p class="card-text">{{ bloodCenter.phoneCenter }}</p>
      </div>
    </div>
  </div>   -->
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hemocentro - Posto Dante Pazzanese </h4>
        <p class="card-text"> Av. Dr. Dante Pazzanese, 500 - Ibirapuera - São Paulo</p>
        <p class="card-text">Segunda a sexta, das 8 às 16h30</p>
        <p class="card-text">Sábados, das 8 às 16h00</p>
        <p class="card-text">Fechado aos domingos e feriados</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hemocentro - Posto Mandaqui </h4>
        <p class="card-text"> R. Voluntários da Pátria, 4227 - Mandaqui - São Paulo</p>
        <p class="card-text">Segunda a sexta, das 8 às 16h30</p>
        <p class="card-text">Sábados, das 8 às 16h00</p>
        <p class="card-text">Fechado aos domingos e feriados</p>
      </div>
    </div></div>
</div>
<div class="row">
  
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">HEMONÚCLEO (HN) - BIOBANCO</h4>
        <p class="card-text">Travessa João Prosdócimo, 145 - CEP: 80045-145 - Alto da XV - Curitiba</p>
        <p class="card-text">Segunda a sábado, das 7h30 às 18h</p>
        <p class="card-text">Fone: (41) 3281-4000 | Fax: (41) 3264-7029</p>
        <p class="card-text">Fechado aos domingos para coleta</p>
      </div>
    </div>
  </div>
<div class="col">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">HEMONÚCLEO (HN) - BIOBANCO 2</h4>
      <p class="card-text">Travessa João Prosdócimo, 150 - CEP: 80045-145 - Alto da XV - Curitiba</p>
      <p class="card-text">Segunda a sábado, das 7h30 às 18h</p>
      <p class="card-text">Fone: (41) 3281-4000</p>
      <p class="card-text">Fechado aos domingos para coleta</p>
    </div>
  </div>
</div>
</div>
</div>
