.form-events{
    margin-top: 12%;
    margin-bottom: 20%;
    padding: 10%;
    border-radius: 20px;
    font-size: 1.2rem;
}

#birthday, #phone, .form-control {
    display: flex;
    border: 2px solid #eeeee2;
    border-radius: 0rem 1.8rem 1.8rem 1.8rem;
    padding: 0.4rem;
    padding-left: 1rem;
}

.form-group, .form-control{
    margin-bottom: 0.4rem;
}