<div class="form-events">
    <!-- action="../../public/scripts/register.php" method="POST"  -->
    <form name="userRegister" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="birthday">Data de Nascimento:</label>
            <input type="date" id="birthday" name="birthday">
        </div>
        <div class="form-group">
            <label for="phone">Celular:</label>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{3}[0-9]{5}[0-9]{4}">
        </div>

        <label for="gender">Genêro:</label>
        <select name="gender" class="form-control">
            <option selected>Clique e selecione o gênero que você se identifica</option>
            <option value="ciswoman">Mulher Cisgênero</option>
            <option value="cisman">Homem Cisgênero</option>
            <option value="transwoman">Mulher Transgênero</option>
            <option value="transman">Homem Transgênero</option>
            <option value="fluidgender">Gênero Fluído</option>
            <option value="agender">Agênero</option>
            <option value="nonbinary">Não-binário</option>
            <option value="other">Outros</option>
            <option value="nottoinform">Prefiro não informar</option>
        </select>
        <label for="typeblood">Tipo Sanguineo:</label>
        <select name="typeblood" class="form-control">
            <option selected>Clique e selecione o seu tipo sanguineo</option>
            <option value="apositive">A+</option>
            <option value="anegative">A-</option>
            <option value="bpositive">B+</option>
            <option value="bnegative">B-</option>
            <option value="abpositive">AB+</option>
            <option value="abnegative">AB-</option>
            <option value="opositive">O+</option>
            <option value="onegative">O-</option>
            <option value="nottoinform">Não sei informar</option>
        </select>
        <button type="submit" class="btn btn-primary">Completar cadastro</button>
    </form>
</div>